#main_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}
.coler{
    height: 100px;
    width: 150px;
    border: solid black 1px;
}
.btn{
    height: 1 rem ;
    width: 7rem;
    margin: 0 3rem 2rem 0 ;
}